.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-grid {
  padding: 0px;
}
.send-col {
  padding: 0px;
}
.send-col ion-button {
  height: 100%;
  margin: 0px;
  border-radius: 0px;
}
.send-col button {
  border-radius: 0px;
}
.send-col ion-icon {
  font-size: 20px;
}

ion-header {
  margin-bottom: 2%;
}
